@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
}

@media (max-width: 1291px) {
    .main {
        background-repeat: repeat;
    }
}

.main .box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 0 20px;
}

nav img {
    margin-top: 20px;
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 638px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    text-align: center;
    padding-top: 100px;


}

.hero > :first-child {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 48px;
}

.hero > :nth-child(2) {
    font-size: 24px;
}

.hero > :nth-child(3) {
    font-size: 20px;
}

.seperation {
    height: 6px;
    background-color: rgb(81, 80, 80);
}

.btn {
    padding: 4px 10px;
    font-weight: 500;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    padding: 6px 24px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

.main input {
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 650;
    border: 2px solid black;
    border-radius: 6px;
    background-color: black;
    opacity: 0.75;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-red-sm {
    background-color: red;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    color: white;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.secImg {
    position: relative;
}

.secImg img {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 6px;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 106px;
    right: 89px;
    width: 90%;
    max-width: 465px;
}

section.first > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
}

section.first > div :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 48px;
}

section.first > div :nth-child(2) {
    font-size: 24px;
}

section.second {
    margin-bottom: 30px;
}

.faq {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    gap: 20px;
    padding: 0 20px;
}

.faq h2 {
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
}

.faqbox {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 50, 50);
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.faqbox:hover {
    background-color: rgb(115, 115, 115);
    cursor: pointer;
}

.faqbox svg {
    filter: invert(1);
}

.final {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
    color: white;
    margin: 60px auto 0 auto;
    gap: 20px;
    text-align: center;
}

.final input {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 650;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(70, 70, 70);
    opacity: 0.75;
    color: white;
    width: 90%;
    max-width: 400px;
}

.supa-nigga {
    margin-top: 10px;
}

.sep-1 {
    margin-top: 50px;
}

.ending {
    color: rgb(126, 126, 126);
    text-align: center;
    margin: 40px auto 10px auto;
    width: 90%;
    max-width: 800px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 60px auto;
    color: white;
    font-size: 15px;
}

a {
    text-decoration: underline;
    color: rgb(126, 126, 126);
}
